{% set hasUrl = (item.url is not null) %}
{% set hasImage = (item.image is not null) %}
<div class="grid-x grid-padding-x">
    {% if hasImage %}
        <div class="small-12 medium-3 cell">
            {% if hasUrl %}
                <a href="{{ item.url }}" target="_blank">
            {% endif %}
            <img src="{{ item.image }}">
            {% if hasUrl %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="small-12 medium-{{ hasImage ? '6' : '9' }} cell">
        {{ item.description|raw('html') }}
    </div>
    <div class="small-12 medium-3 cell">
        <div class="feed-actions">
            <ul class="no-bullet">
                {% if hasUrl %}
                    <li><a href="{{ item.url }}" target="_blank"><span class="text">{{ 'open'|trans }}</span> &nbsp; <em class="icon fa fa-external-link"></em></a></li>
                {% endif %}
                <li>{{ include('feed_item/read.html.twig', { 'item': item }) }}</li>
                <li><a href="{{ path('flux_feed_view', { 'feed': item.feed.id }) }}" data-ajax="true">Lire le flux &nbsp; <em class="icon fa fa-folder-open"></em></a></li>
                <li>
                    <a href="{{ path('flux_feed_viewfile', {'feed': item.feed.id}) }}" data-ajax="true">
                        Lire le fichier flux &nbsp; <em class="icon fa fa-rss"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
