$main-color: #1c947c;
$main-color-light: lighten($main-color, 10%);
$main-color-lighter: lighten($main-color-light, 10%);
$main-color-dark: darken($main-color, 10%);
$main-color-darker: darken($main-color-dark, 10%);
