.page {
    margin: 2rem;

    @include breakpoint(small down) {
        margin: 0.5rem;
    }
}

.page-actions {
    float: right;
    font-size: 1rem;

    a {
        cursor: pointer;
        font-size: 1.1rem;
        line-height: 1rem;
        padding: 0.375rem 0.75rem;

        &.active {
            font-weight: bold;
        }
    }
}
